Firmware/.vs/
Firmware/.vscode/
Firmware/Bootloader/.vscode/
Firmware/Bootloader/build/
Firmware/build/
Firmware/MarvieFirmware/.vs/
Firmware/MarvieFirmware/CodeDB/
Firmware/MarvieFirmware/MarvieFirmware/stm32.xml
Firmware/MarvieFirmware/MarvieFirmware/VisualGDBCache/
Firmware/MarvieFirmware/VisualGDB/
Firmware/VisualGDB/
Firmware/VisualGDBCache/
Software/.vs/
Software/Debug/
Software/GeneratedFiles/
Software/MarvieControl.pro.user
Software/Release/
Software/settings.ini
Software/Tests/SdDataDownloader/.vs/
Software/Tests/SdDataDownloader/SdDataDownloader/GeneratedFiles/
Software/Tests/SdDataDownloader/SdDataDownloader/x64/
Software/Tests/SdDataDownloader/x64/
Software/Win32/
Software/x64/
Software/Tests/RemoteTerminalTest/RemoteTerminalTest/x64/
Software/Tests/RemoteTerminalTest/x64/
Software/Tests/RemoteTerminalTest/.vs/
Software/Tests/RemoteTerminalTest/RemoteTerminalTest/GeneratedFiles/
