Firmware/Release/
Firmware/Debug/
Firmware/.vs/
Firmware/VisualGDB/
Firmware/VisualGDBCache/
Firmware/Makefile.old
Firmware/debug.mak.old
Firmware/release.mak.old
Firmware/ChibiOSF4-Release.vgdbsettings.User.user
Firmware/ChibiOSF4-Debug.vgdbsettings.User.user
Firmware/ReleaseOpt/
Firmware/releaseopt.mak.old
Firmware/ChibiOSF4-ReleaseOpt.vgdbsettings.User.user
Software/Debug/
Software/GeneratedFiles/
Software/x64/
Software/.vs/
